env:
  global:
    - CC_TEST_REPORTER_ID=1259669abb43ff349ee6db890b31daa797fddb46090bbc3528799bafe5ba7bf0

language: ruby
rvm:
  - 2.6.3

services:
  - postgresql

before_script:
  - psql -c 'create database mapping_115_test;' -U postgres
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - bundle exec rspec

after_success:
  - coveralls

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT