# Rails configuration
TELCO_URL=telco_url
TOKEN=telco_token
REDIS_URL=redis_url
DB_HOST=db_host
DB_USER=database_user
DB_PWD=database_password
ALLOWED_HOSTS=comma_separated_hosts

# Shell with unicode support
LANG=C.UTF-8