<div id="map"></div>
<div class="btn-group options" role="group" aria-label="Basic example">
  <%= link_to "Province", root_path(kind: 'province'), class: "btn btn-sm btn-outline-secondary #{active_province}" %>
  <%= link_to "District", root_path(kind: 'district'), class: "btn btn-sm btn-outline-secondary #{active_district}" %>
  <%= link_to "Commune", root_path(kind: 'commune'), class: "btn btn-sm btn-outline-secondary #{active_commune}" %>
</div>
<%= Gon::Base.render_data %>