.flash {
  position: absolute;
  z-index: 9999;
  right: 5px;
  top: 60px;
}

.logo {
  @extend .text-center; 
  @extend .mt-5;
  @extend .mb-3;

  img {
    display: inline-block;
    margin: 0 5px;
  }
}