.flash {
  position: absolute;
  z-index: 9999;
  right: 5px;
  top: 60px;
}

.logo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;

  img {
    display: inline-block;
    margin: 0 5px;
  }
}