// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#listings_index {
  #content {
    margin-top: 50px;
    padding: 24px;
  }

  .graph {
    width: 800px;
  }

  .btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #btn-download-chart {
    position: absolute;
    right: 0;
    top: 31px;
  }
}
