html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#welcome_index, #listings_index {
  #map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .options {
    z-index: 400;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    display: flex;
    text-align: center;
    padding: 10px;
  }

  .swicth-views {
    z-index: 400;
    position: absolute;
    top: 5px;
    left: 50px;
    text-align: left;
    display: flex;
    text-align: center;
    padding: 10px;
  }

  .legend {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 1px solid #949494;
    padding: 10px 15px;
    border-radius: 4px;

    ul {
      list-style: none;
    }

    ul li {
      line-height: 23px;
    }

    .color {
      vertical-align: middle;
      font-size: 45%;
    }

    .desc {
      font-size: 0.7rem;
    }
  }

  .datepicker input {
    min-width: 275px;
  }

  .location-title {
    font-size: 0.6rem;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .avata {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: pink;
  }
}
