html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#welcome_index {
  #map { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .options {
    z-index: 400;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
  }

  .datepicker input {
    min-width: 275px;
  }
}