.d-flex.justify-content-center.align-items-center.vh-100
  .card
    .card-header
      %h5 ជ្រើសរើសឯកសារ
    .card-body
      = simple_form_for :call_logs, url: caller_logs_csv_path do |f|
        = f.input :file, as: :file, label: false
        = f.submit "បញ្ជូន", class: "btn btn-primary mt-2"
